In [1]:
import os
import shutil
import pandas as pd
import random
import numpy as np
import matplotlib.pyplot as plt
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
import tensorflow as tf
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.applications import DenseNet201
import cv2
import warnings

warnings.filterwarnings('ignore')

In [2]:
train_df = pd.read_csv('train.csv')

train_df

        image_id  healthy  multiple_diseases  rust  scab
0        Train_0        0                  0     0     1
1        Train_1        0                  1     0     0
2        Train_2        1                  0     0     0
3        Train_3        0                  0     1     0
4        Train_4        1                  0     0     0
...          ...      ...                ...   ...   ...
1816  Train_1816        0                  0     0     1
1817  Train_1817        1                  0     0     0
1818  Train_1818        1                  0     0     0
1819  Train_1819        0                  0     1     0
1820  Train_1820        0                  0     0     1

[1821 rows x 5 columns]

In [3]:
train_df['image_name'] = train_df['image_id'] + '.jpg'

train_df

        image_id  healthy  multiple_diseases  rust  scab      image_name
0        Train_0        0                  0     0     1     Train_0.jpg
1        Train_1        0                  1     0     0     Train_1.jpg
2        Train_2        1                  0     0     0     Train_2.jpg
3        Train_3        0                  0     1     0     Train_3.jpg
4        Train_4        1                  0     0     0     Train_4.jpg
...          ...      ...                ...   ...   ...             ...
1816  Train_1816        0                  0     0     1  Train_1816.jpg
1817  Train_1817        1                  0     0     0  Train_1817.jpg
1818  Train_1818        1                  0     0     0  Train_1818.jpg
1819  Train_1819        0                  0     1     0  Train_1819.jpg
1820  Train_1820        0                  0     0     1  Train_1820.jpg

[1821 rows x 6 columns]

In [ ]:
target_cols = ['healthy', 'multiple_diseases', 'rust', 'scab']
labels = train_df[target_cols]
label_names = labels[labels==1].stack().reset_index()['level_1']
label_names.index = train_df.index
train_df['label_name'] = label_names
train_df